<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/admin/salon/edit" class="nav-link">Salon</a></li>
            <li class="nav-item"><a href="/admin/services" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="/admin/products" class="nav-link">Products</a></li>
            <li class="nav-item"><a href="/admin/customers" class="nav-link">Customers</a></li>
            <li class="nav-item"><a href="/admin/staff" class="nav-link">Staff</a></li>
            <li class="nav-item"><a href="/admin/staffservice" class="nav-link">Staff/Services</a></li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Update Salon</h3>
        </div>
        <!-- penel-heading -->
        <div class="card-block">
            <form class="form-group" action="/admin/salon/update?_method=PUT" method="POST">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="name" value="{{editSalon.name}}">
                            </div>
                            <div class="form-group">
                                <label for="">Password</label>
                                <input type="text" class="form-control" name="password" placeholder="password" value="{{editSalon.password}}">
                            </div>
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" name="email" placeholder="REQUIRED" value="{{editSalon.Email.dataValues.email}}">
                            </div>
                            <div class="form-group">
                                <label for="">Mobile</label>
                                <input type="text" class="form-control" name="mobile" placeholder="mobile" value="{{editSalon.Phone.dataValues.mobile}}">
                            </div>
                            <div class="form-group">
                                <label for="">Home</label>
                                <input type="text" class="form-control" name="home" placeholder="home" value="{{editSalon.Phone.dataValues.home}}">
                            </div>
                        <div class="form-group">
                            <label for="">Photo</label>
                            <input type="text" class="form-control" name="photo" placeholder="photo" value="{{editSalon.photo}}">
                        </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="">Address1</label>
                                <input type="text" class="form-control" name="address1" placeholder="address1" value="{{editSalon.Address.dataValues.address1}}">
                            </div>
                            <div class="form-group">
                                <label for="">Address2</label>
                                <input type="text" class="form-control" name="address2" placeholder="address2" value="{{editSalon.Address.dataValues.address2}}">
                            </div>
                            <div class="form-group">
                                <label for="">City</label>
                                <input type="text" class="form-control" name="city" placeholder="city" value="{{editSalon.Address.dataValues.city}}">
                            </div>
                            <div class="form-group">
                                <label for="">State</label>
                                <input type="text" class="form-control" name="state" placeholder="state" value="{{editSalon.Address.dataValues.state}}">
                            </div>
                            <div class="form-group">
                                <label for="">Zip</label>
                                <input type="text" class="form-control" name="zip" placeholder="zip" value="{{editSalon.Address.dataValues.zip}}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea class="form-control" name="description" placeholder="Description" row="50" style="height:20em">{{editSalon.description}}</textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Salon</button>
                </div>{{!-- container --}}
                <input type="hidden" value="{{editSalon.Phone.id}}" name ="phoneId"/>
                <input type="hidden" value="{{editSalon.Email.id}}" name ="emailId"/>
                <input type="hidden" value="{{editSalon.Address.id}}" name ="addressId"/>
            </form>
        </div>
        <!-- card-block -->
    </div>
    <!-- second card -->
</div>{{!-- container --}}