<div class="container">
    {{!-- show product --}} 
 {{#each product}} 

{{this.id}}. {{this.brand}} 
{{!-- update --}}
<form action="/admin/product/{{this.id}}/edit" method="GET">

<button type="submit">edit</button>
</form>
{{!-- delete --}}
<form action="/admin/product/{{this.id}}?_method=DELETE" method="POST">

<button type="submit">delete</button>
<br>
</form>
  {{/each}}

    {{!-- add product --}}
    <div class="row">
        <h1>Add Product</h1>
        <form class="form-group" action="/admin/product/new" method="POST">
       <input type="text" name="brand" placeholder="brand">
       <input type="text" name="name" placeholder="name">
       <input type="text" name="decription" placeholder="description">
       <input type="text" name="size" placeholder="size">
       <input type="text" name="price" placeholder="price">
       <input type="text" name="stock_quantity" placeholder="stock_quantity">
       <input type="text" name="cost" placeholder="cost">
       <input type="text" name="vendor" placeholder="vendor">
       <input type="text" name="photo" placeholder="photo">
       <button type="submit">Add</button>
    </form>

    </div>
{{!-- update product --}}
<div class="row">
    <h1>Update Product</h1>
    <form id="updateForm" class="form-group" action="/admin/product/{{editproduct.id}}?_method=PUT" method="POST">
        <input type="text" name="brand" placeholder="brand" value = "{{editproduct.brand}}">
        <input type="text" name="name" placeholder="name" value = "{{editproduct.name}}">
        <input type="text" name="decription" placeholder="description" value = "{{editproduct.description}}">
        <input type="text" name="size" placeholder="size" value = "{{editproduct.size}}">
        <input type="text" name="price" placeholder="price" value = "{{editproduct.price}}">
        <input type="text" name="stock_quantity" placeholder="stock_quantity" value = "{{editproduct.stock_quantity}}">
        <input type="text" name="cost" placeholder="cost" value = "{{editproduct.cost}}">
        <input type="text" name="vendor" placeholder="vendor" value = "{{editproduct.vendor}}">
        <input type="text" name="photo" placeholder="photo" value = "{{editproduct.photo}}">
        <button type="submit">update</button>
    </form>

</div>


</div>